*{
    box-sizing: border-box;
}
body{
    background: black;
    width: 60%;
    margin: 10vh auto;
}
.grid-box{
    display: grid;
    grid-template-areas: 'or or or or or yl yl' 'g g g b1 b1 b1 b1' 'g g g b2 b2 b2 b2';
    gap: 15px;
}
.grid-box div{
    padding: 50px;
}
.orange{
    grid-area: or;
    background-color: orangered;
    height: 200px;
}
.yellow{
    grid-area: yl;
    background-color: yellow;
}
.green{
    grid-area: g;
    background-color: green;
}
.blue1{
    grid-area: b1;
    background-color: skyblue;
}
.blue2{
    grid-area: b2;
    background-color: skyblue;
}