body{
 font-size: 15px; 
 background-color: hsl(0, 0%, 95%); 
 font-family: 'Lexend Deca', sans-serif;
}
#heading{
    font-family: 'Big Shoulders Display', cursive;
    color: hsl(0, 0%, 95%); 
}
@media only screen and (min-width: 375px){
    .box1, .box2, .box3{
        overflow: auto;
    }
    
}
@media only screen and (max-width: 375px){
    .flexbox{
        display: flex;
        flex-direction: column; 
    }
    .box1, .box2, .box3{
        width: 100%; 
        height: 500px;
        border-radius: 10px;
        margin-bottom: 10px; 
    }
    .box1{
        grid-area: box1;
    }
    .box2{
        grid-area: box2;
    }
    .box3{
        grid-area: box3;
    }
    .gridbox{
        grid-template-areas: 'box1' 'box2' 'box3';
    }
}
.flexbox{
    display: flex;
    width: 80%;
    height: 500px;
    margin-top: 100px;
    margin: 100px auto;
    color: hsla(0, 0%, 100%, 0.75);
    border-radius: 15px;
    box-sizing: border-box;
}
.box1{
    background-color: hsl(31, 77%, 52%);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 50px;
    flex: auto;
}
.box1 div{
    width: 80%;
    padding-bottom: 120px;
}
.box2{
    background-color: hsl(184, 100%, 22%);
    padding: 50px;
    flex: auto;
}
.box2 div{
    width: 80%;
    padding-bottom: 120px ;
}
.box3{
    background-color: hsl(179, 100%, 13%);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 50px;
    flex: auto;
}
.box3 div{
    width: 80%;
    padding-bottom: 100px ;
}
.submit{
    background-color: hsl(0, 0%, 95%); 
    border: 1px solid hsl(0, 0%, 95%);
    padding: 10px 20px;
    border-radius: 20px;
}
.box1 .submit{
    color:hsl(31, 77%, 52%);
}
.box2 .submit{
    color: hsl(184, 100%, 22%);
}
.box3 .submit{
    color: hsl(179, 100%, 13%);
}
.box1 a :hover{
    background-color:hsl(31, 77%, 52%);
    color: hsl(0, 0%, 95%); 
}
.box2 a :hover{
    background-color: hsl(184, 100%, 22%);
    color: hsl(0, 0%, 95%); 
}
.box3 a :hover{
    background-color: hsl(179, 100%, 13%);
    color: hsl(0, 0%, 95%); 
}
.gridbox{
    display: grid;
    width: 80%;
    height: 500px;
    margin-top: 100px;
    margin: 100px auto;
    color: hsla(0, 0%, 100%, 0.75);
    border-radius: 15px;
    box-sizing: border-box;
    grid-template-columns: auto auto auto;
}